<aside class="aside <%= open ? '--open' : '--close'%> " id="menu">
    <div id="open-menu">
        <i class="fas fa-times" id="btn-close-menu"></i>
        <h1>TellMe <i class="fab fa-telegram-plane"></i></h1>
        <ul id="room-container">
            <li class="chat-room --left-room">
                <a class="left" href="/">
                    <i class="fas fa-angle-left"></i>
                    Retour à l'accueil
                </a>
            </li>
            <% if(Object.keys(rooms).length > 0) {%>
                <% Object.keys(rooms).forEach(room => { %>
                    <li class="chat-room" id="li-<%= rooms[room]._id%>">
                        <div class="infos">
                            <span class="name"><%= room %></span>
                            <div class="actions">
                                <% if(rooms[room].hasOwnProperty('owner') && rooms[room].owner.equals(me._id)) { %>
                                    <button class="delete-room" data-name="<%= room %>" data-id="<%= rooms[room]._id%>">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                <% } %>
                                <a class="link" href="/<%= room %>/<%= rooms[room]._id%>">Rejoindre</a>
                            </div>
                        </div>
                    </li>
                <% }) %>
            <% } else {%>
                <li class="chat-room">
                    <div class="infos">
                        <span class="name">Aucune conversation !</span>
                    </div>
                </li>
            <% }%>
            <li class="chat-room --logout">
                <div class="logout">
                    <div class="name" id="user"><a href="/user">Mon profil</a></div>
                    <div class="name" id="logout">Deconnexion</div>
                </div>
            </li>
        </ul>
    </div>
    <div id="close-menu" style="display: none">
        <i class="fas fa-bars" id="btn-open-menu"></i>
    </div>
</aside>